[submodule "macos/vendor/burrow-engine"]
	path = macos/vendor/burrow-engine
	url = https://github.com/caezium/burrow-engine.git
[submodule "macos/vendor/burrow-cli"]
	path = macos/vendor/burrow-cli
	url = https://github.com/caezium/burrow-cli.git
[submodule "windows/vendor/burrow-cli"]
	path = windows/vendor/burrow-cli
	url = https://github.com/caezium/burrow-cli.git
